body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  background-color: #74a6d8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ticket {
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: 50vw;
  margin: 1vh;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow:0 0 10px 0 black;
  background-color: white;
  padding: 5px;
}

.ticketTopContainer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
}

.content {
  padding: 5px;
  font-size: 14px;
}

.moreInfoContainer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 5px;
}

.label {
  background-color: #3273b3;
  border-radius: 3px;
  color: white;
  margin: 2px;
  padding: 5px;
}

.emailSpan {
  margin: 2px;
}

.timeSpan {
  margin: 1.5rem;
}

.title {
  margin: 5px;
  padding-top: 5px;
}

.title::before {
  content: '';
  border-left: 5px solid #3273b3;
  padding-right: 5px;
}

#topBarContainer {
  display: flex;
  justify-content: space-between;
}

#restoreContainer {
  position: relative;
  margin-top: 1rem;
}

#pageTitle {
  display: flex;
  justify-content: center;
}